meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Cosecha y poscosecha del plátano
meta(meta name="description" content="El contenido de este material permite al aprendiz alcanzar los conocimientos de los parámetros y labores de la cosecha y poscosecha, de acuerdo a los requerimientos técnicos para lograr la eficiencia en los procesos y en la calidad en fruto.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")