.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo AGROINDUSTRIA DEL PLÁTANO
            h1.curso-titulo Cosecha y poscosecha del plátano 

            .brand-line-primary

            p.curso-descripcion El contenido de esta actividad permite al aprendiz alcanzar los conocimientos de los parámetros y labores de la cosecha y poscosecha, de acuerdo a los requerimientos técnicos para lograr la eficiencia en los procesos y en la calidad en fruto.

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")