h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('2', 'Producción del plátano', 'main.html#page/produccion-platano/')
                    +navTemaItem('3', 'Labores de precosecha', 'main.html#page/labores-precosecha/')
                    +navTemaItem('4', 'Cosecha', 'main.html#page/cosecha/')
                    +navTemaItem('5', 'Poscosecha', 'main.html#page/poscosecha/')
                    