h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 73311576
        p.mb-0 CONOCER LOS ASPECTOS MÁS IMPORTANTES DEL CULTIVO DEL PLÁTANO COMO SON: LAS CONDICIONES AGROECOLÓGICAS DE LAS VARIEDADES MÁS COMUNES Y LOS ASPECTOS FISIOLÓGICOS, FÍSICOS Y QUÍMICOS DURANTE LA MADURACIÓN.