h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Introducción', 'main.html#page/introduccion.html/')
                    +navTemaItem('2', 'Producción del plátano', 'main.html#page/1-0-produccion-platano.html/')
                    +navTemaItem('3', 'Labores de precosecha', 'main.html#page/2-0-labores-precosecha.html/')
                    +navTemaItem('4', 'Cosecha', 'main.html#page/3-0-cosecha.html/')
                    +navTemaItem('5', 'Poscosecha', 'main.html#page/4-0-poscosecha.html/')
                    