h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 270403005-02
        p.mb-0 Reconocer los diferentes procedimientos de la cosecha y poscosecha del cultivo del plátano, y las labores importantes que hacen eficientes estos procesos.

