include ../mixins/functions
+pageHeader('Cosecha y poscosecha del plátano', 'assets/images/header/header_media.svg')

.container 
    .header-ecored
        h1 1. Producción del plátano

    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            li(data-target='#carouselExampleIndicators', data-slide-to='1')
            li(data-target='#carouselExampleIndicators', data-slide-to='2')
            li(data-target='#carouselExampleIndicators', data-slide-to='3')
        .carousel-inner
            .carousel-item.active 
                img.d-block.w-75.rounded.mx-auto.d-block(src='assets/images/pages/1-0-produccion-platano/MF2-AUD-IMA-001.svg', alt='...')
            .carousel-item
                img.d-block.w-75.rounded.mx-auto.d-block(src='assets/images/pages/1-0-produccion-platano/MF2-AUD-IMA-002.svg', alt='...')
            .carousel-item
                img.d-block.w-75.rounded.mx-auto.d-block(src='assets/images/pages/1-0-produccion-platano/MF2-AUD-IMA-003.svg', alt='...')
            .carousel-item
                img.d-block.w-75.rounded.mx-auto.d-block(src='assets/images/pages/1-0-produccion-platano/MF2-AUD-IMA-004.svg', alt='...')
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

    

    .header-arrow.my-5
        p.text-center.my-2 las cuales están influenciadas por:

    section.pasos.my-5.pt-5
        .row.justify-content-center

            .card.col-12.col-md-2.p-0.mr-md-4.mt-5
                .card-body.text-center.bg-brand-color-secondary

                    .avatar.avatar-xxl.card-avatar.card-avatar-top
                        img(src="assets/images/pages/1-0-produccion-platano/img2.png")
                    p
                        | La falta de aplicación de las labores culturales propias del cultivo.


            .card.col-12.col-md-2.p-0.mr-md-4.mt-5
                .card-body.text-center.bg-brand-color-secondary

                    .avatar.avatar-xxl.card-avatar.card-avatar-top
                        img(src="assets/images/pages/1-0-produccion-platano/img3.png")
                    p
                        | La cosecha inadecuada.

            .card.col-12.col-md-2.p-0.mr-md-4.mt-5
                .card-body.text-center.bg-brand-color-secondary

                    .avatar.avatar-xxl.card-avatar.card-avatar-top
                        img(src="assets/images/pages/1-0-produccion-platano/img4.png")
                    p
                        | La manipulación deficiente del producto desde el sitio de producción hasta el consumidor final. 


            .card.col-12.col-md-2.p-0.mr-md-4.mt-5
                .card-body.text-center.bg-brand-color-secondary

                    .avatar.avatar-xxl.card-avatar.card-avatar-top
                        img(src="assets/images/pages/1-0-produccion-platano/img5.png")
                    p
                        | La falta de adecuación del producto. (Ministerio de Agricultura y Desarrollo Rural, 2005)

        .row.align-items-center.justify-content-center.my-5

            .col-12.col-md-10

                .custom-item-info.card-border-bottom.my-2
                    .card(style="border-color: #80CBC4").mb-0
                        .card-body
                            p De tal manera, que se requiere de la aplicación tecnológica en las diferentes fases del proceso productivo, especialmente en las labores precosecha y poscosecha, que permitan mejorar las condiciones de desarrollo del cultivo. Además de evitar pérdidas económicas, es importante proporcionar un valor agregado al producto fresco y evitar los problemas de contaminación por la generación de residuos agrícolas mal aprovechados.
