include ../mixins/functions
+pageHeader('Cosecha y poscosecha del plátano', 'assets/images/header/header_media.svg')

.container
    section.pasos-protocolo.my-5.pt-5

      .row.justify-content-center.mt-5

          .col-12.col-md-3.my-6.my-md-0
              .card.bg-brand-color-light
                  .card-body.text-center

                      .avatar.avatar-super.card-avatar.card-avatar-top
                          img(src="assets/images/pages/1-0-produccion-platano/img2.png").avatar-img

                      p La falta de aplicación de las labores culturales propias del cultivo.

          .col-12.col-md-3.my-6.my-md-0
              .card
                  .card-body.text-center

                      .avatar.avatar-super.card-avatar.card-avatar-top
                          img(src="assets/images/pages/1-0-produccion-platano/img3.png").avatar-img

                      p La cosecha inadecuada.

          .col-12.col-md-3.mt-6.my-md-0
              .card
                  .card-body.text-center

                      .avatar.avatar-super.card-avatar.card-avatar-top
                          img(src="assets/images/pages/1-0-produccion-platano/img4.png").avatar-img

                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          .col-12.col-md-3.mt-6.my-md-0
              .card
                  .card-body.text-center

                      .avatar.avatar-super.card-avatar.card-avatar-top
                          img(src="assets/images/pages/1-0-produccion-platano/img4.png").avatar-img

                      p La falta de adecuación del producto. (Ministerio de Agricultura y Desarrollo Rural, 2005)
                      
