include ../mixins/functions
+pageHeader('Cosecha y poscosecha del plátano', 'assets/images/header/header_media.svg')

.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 Introducción
      .tituloPrincipal__icono

  .row.my-5
    .col

      .card
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/7ZeRKKrXqh4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        

  .row.my-5
    .col-8
    .card-body.mt-0
            strong El éxito de la producción agrícola del plátano depende de la comercialización de este,
            | con las mejores condiciones y de acuerdo al mercado objetivo. De conformidad con lo anterior, 
            | se deben aplicar las Buenas Prácticas Agrícolas (BPA), durante las fases del cultivo y en especial 
            | desde la aparición de la inflorescencia, donde se realizan las actividades precosecha para proteger el racimo,
            | hasta cuando este ha alcanzado el desarrollo fisiológico ideal, de acuerdo a los requerimientos del mercado;
            | dando inicio a las labores de cosecha y poscosecha que inciden sobre la calidad de consumo y las oportunidades
            | de comercialización, determinando la rentabilidad de la plantación.       

  .row.align-items-center.my-5
    .col-12
      .group-txt
        .group-txt__divider.cl-brown
        .group-txt__copy
           p #[em Por consiguiente, teniendo en cuenta la importancia de las labores de la cosecha y poscosecha para evitar pérdidas en la producción, es necesario conocer el manejo según los requerimientos técnicos, que se le debe dar al racimo desde la fase floral hasta su fructificación y durante del proceso de manejo y conservación para su comercialización, lo cual permita lograr la eficiencia en los procesos y en la calidad del fruto.] 
        .group-txt__divider.cl-brown
