.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td Cartilla manejo tecnológico del cultivo de plátano. 
                td Cartilla
                td 
                    a(href="media/documentos/complementarios/MC_AA2_Manejo_tecnologico_del_cultivo_de_platano.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td Agencia Ecuatoriana de Aseguramiento de la Calidad del Agro – Agrocalidad y el Ministerio de Agricultura del Ecuador. Manual de aplicabilidad de buenas prácticas agrícolas de banano
                td Libro
                td 
                    a(href="media/documentos/complementarios/MC_AA2_Manual_de_aplicabilidad_de_buenas_practicas_agricolas_de_banano.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td Gobernación del Tolima, Universidad de Ibagué, Universidad del Tolima y Sena Regional Tolima. (2017). Protocolo de buenas prácticas para poscosecha de plátano (Musa paradisiaca L.)

                td Cartilla
                td 
                    a(href="media/documentos/complementarios/MC_AA2_Protocolo_de_buenas_practicas_para_poscosecha_de_platano.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                        