include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container


    .header-ecored
        h1 2. Labores de precosecha

    p Son aquellas actividades que se realizan desde la aparición de la inflorescencia que es el futuro racimo hasta la cosecha del mismo. Periodo que puede variar según las condiciones agroclimáticas de la zona. Las cuales, cumplen la función de proteger la planta y el racimo. (Flores del Valle, 2013)

    .header-ecored
        h2 2.1 Deshoje

    .jumbotron.bg-white.my-5
        p Es una actividad que consiste en la eliminación de hojas que no aportan al desarrollo de la planta y del racimo, con el objetivo de permitir una buena aireación y luminosidad y contrarrestar el ataque de plagas y enfermedades (Palencia, Gómez y Martín, 2006). Se debe garantizar la permanencia entre 8 y 10 hojas funcionales, las cuales están directamente relacionadas con el peso y tamaño del racimo, para de esta forma, obtener racimos de alta calidad. (El Alcaraván y PRONATTA, 1999)


        .subtitulo-ecored.mb-2
            h2 
                span Tipos de deshoje:


        .row.card-border-bottom
            .col-12.col-md-6
                .card.mb-5
                    img.card-img-top(src='assets/images/pages/tema-2/hoja1.png')

                    .card-body
                        p.header-step
                            span.header-step--title 
                                strong Deshoje de protección al racimo:
                        p Consiste en la eliminación de hojas que puedan causar daño al racimo por efecto del roce.

            .col-12.col-md-6
                .card.mb-5
                    img.card-img-top(src='assets/images/pages/tema-2/hoja2.png')

                    .card-body
                        p.header-step
                            span.header-step--title
                                strong Deshoje de sanidad:
                        p consiste en la eliminación de hojas que presentan daños visibles, por culminación de su ciclo (amarillas o secas), por daños mecánicos (dobladas o caídas), o por enfermedad de sigatoka (tejido necrótico) y las hojas bajeras que interceptan la luz, evitando que llegue a la base de las plantas. (Barrera, Cardona, y Cayón, 2011)



        .header-arrow.my-5
            h3.text-center Para llevar a cabo las labores de deshoje se deben considerar los siguientes aspectos:


        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/i1.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Se debe hacer uso de ropa de trabajo específica para este fin y tener especial precaución en el uso de herramientas cortantes.

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/i2.svg").img-fluid
                        p.card__copy 
                            span 
                                |  El deshoje se debe hacer mínimo cada dos semanas, aumentando la frecuencia en caso de presentarse problemas fitosanitarios.

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/i3.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Para realizar el corte se puede utilizar un machete, palín cuadrado, cuchillo curvo o media luna, igualmente se debe disponer de un balde y desinfectante.

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/i4.svg").img-fluid
                        p.card__copy 
                            span 
                                |  El corte se debe realizar de abajo hacia arriba, dejando una porción de este para evitar la entrada de enfermedades por el pseudotallo. También se puede realizar el despunte removiendo solo la parte de la hoja que se encuentra necrosada o quemada por Sigatoka. 

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/i5.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Las hojas cortadas se deben disponer adecuadamente, retirándolas de la base de la planta y de los canales de riego y drenaje.

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/i6.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Una vez terminado el corte, la herramienta se debe desinfectar con hipoclorito de sodio al 2 o 3 %, antes de pasar de una planta a otra, especialmente cuando se detecte la enfermedad del Moko.


    .header-ecored
        h2 2.2 Desguasque o descalcetamiento

    .jumbotron.bg-white.my-5

        .row.justify-content-center.align-items-center.my-5

            .col-12.col-md-8
                p Consiste en remover las calcetas secas del pseudotallo, labor que se debe realizar de forma manual de abajo hacia arriba, preferiblemente sin el uso de herramientas. Esta actividad permite evitar el desarrollo de enfermedades por la acumulación de agua en épocas de lluvias.
            .col-12.col-md-4
                img(src="assets/images/pages/tema-2/img-22.svg").img-fluid.mb-3.mb-md-0


    .header-ecored
        h2 2.3 Embolsado

    .jumbotron.bg-white.my-5

        p Esta actividad consiste en colocar al racimo una funda o bolsa de polietileno perforada, con el fin de garantizar la calidad total del fruto. Los principales objetivos de esta labor son: 

        p.text-center.my-5.py-5
            img(src="assets/images/pages/tema-2/img-23.svg").img-fluid 


        .jumbotron.my-5.bg-brand-color-light-more

            p Según Barrera et al. (2011), la labor de embolsar puede realizarse en dos estados de crecimiento de la bacota:

            ul.my-3
                li 
                    strong Prematuro: 
                    | hasta cuando la bacota presenta máximo dos manos expuestas, es decir, cuando se han abierto dos brácteas. Se recomienda para zonas de alta incidencia de insectos plaga.

                li.mt-3 
                    strong Presente: 
                    | hasta que la última mano completa del racimo esté en una posición paralela con respecto a la superficie del suelo.


        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/j1.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Se debe hacer uso de ropa de trabajo específica para este fin y tener especial precaución en el uso de herramientas cortantes.

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/j2.svg").img-fluid
                        p.card__copy 
                            span 
                                |  El deshoje se debe hacer mínimo cada dos semanas, aumentando la frecuencia en caso de presentarse problemas fitosanitarios.

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/j3.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Para realizar el corte se puede utilizar un machete, palín cuadrado, cuchillo curvo o media luna, igualmente se debe disponer de un balde y desinfectante.                    



    .header-ecored
        h2 2.4 Encintado

    .jumbotron.bg-white.my-5
        .row.justify-content-center.align-items-center.my-5

            .col-12.col-lg-8
                p Es una práctica característica de cultivos tecnificados para exportación, complementaria del embolsado, utilizada para identificar la edad de la fruta, con el objetivo de determinar su grado de madurez, realizar estimativos de producción y planear las actividades de la cosecha, poscosecha y comercialización. La identificación consiste en amarrar al racimo recién formado una cinta con un color determinado, correspondiente a cada semana que estipula la edad del racimo. Los colores varían dependiendo de la exportadora. Esta se coloca en la parte superior del raquis o en la parte inferior de la bolsa. 

            .col-12.col-lg-4
                img(src="assets/images/pages/tema-2/img-24.svg").img-fluid.mb-3.mb-md-0


        .jumbotron.my-5.bg-brand-color-light-more

            p De acuerdo a Orozco y Chaverra (1999), el encintado se puede realizar en los siguientes momentos:


            ul.my-3
                li 
                    strong Prematuro: 
                    | cuando emerge la bacota hasta tres brácteas abiertas.

                li.mt-3 
                    strong Presente: 
                    | cuando los racimos ya han pasado su primera semana, desde cuatro brácteas abiertas hasta la apertura de la última mano.

            p
                strong Se recomienda llevar un registro estricto semanalmente con la cantidad de cintas colocadas y el inventario de frutos, para controlar la cosecha de los mismos.



    .header-ecored
        h2 2.5 Desguasque o descalcetamiento

    .jumbotron.bg-white.my-5

        .row.justify-content-center.align-items-center.my-5

            .col-12.col-lg-8
                blockquote Consiste en eliminar los residuos florales que permanecen en el ápice del fruto cuando estos están paralelos al piso y las flores de color café, con el fin de favorecer la maduración del fruto, mejorar su presentación y calidad, evitando la incidencia de algunas enfermedades, como la punta de cigarro. (Corporación PBA, 2012)

                p Esta actividad se debe realizar de manera manual dos semanas después de su inflorescencia, junto con las labores del desbacote y el desmane. 

            .col-12.col-lg-4
                img(src="assets/images/pages/tema-2/img-25.svg").img-fluid.mb-3.mb-md-0


    .header-ecored
        h2 2.6 Desbacote y desmane

    .jumbotron.bg-white.my-5

        .row.justify-content-center.align-items-center.my-5

            .col-12.col-lg-8
                p El desbacote consiste en la eliminación manual de la bacota o bellota, una vez las manos del racimo se han formado, dejando 5 cm de vástago debajo de la última mano (Barrera et al., 2011). Y el desmane es la eliminación de una o dos de las últimas manos del racimo que se caracterizan por ser pequeñas y de frutos cortos. Estas actividades se pueden realizar después del embolsado, con el objetivo de favorecer el desarrollo del racimo y el llenado o peso de los frutos, además de prevenir el ataque de plagas y enfermedades (Corporación PBA, 2012). 

                p Para la realización de estas actividades es recomendable evitar el uso de herramientas, en caso de requerirse se deben desinfectar al pasar de una planta a la otra. 

            .col-12.col-lg-4
                img(src="assets/images/pages/tema-2/img-26.svg").img-fluid.mb-3.mb-md-0

    .header-ecored
        h2 2.7 Amarre o apuntalamiento

    .jumbotron.bg-white.my-5

        .row.justify-content-center.align-items-start.my-5

            .col-12.col-lg-8
                p Esta labor se realiza con el objetivo de prevenir el volcamiento de las plantas por la pendiente del terreno, la acción del viento en la etapa de reproducción, la deficiencia radicular, la enfermedad en rizoma o pseudotallo, el embalconamiento, el peso del racimo, los descolinos inoportunos, entre otros. 

                p Se pueden utilizar dos formas de amarre o apuntalamiento (Barrera et al., 2011):

                .jumbotron.my-5.bg-brand-color-light-more
                    ul.my-3
                        li 
                            strong Con soporte rígido: 
                            | consiste en colocar uno o dos puntales de caña brava, bambú, guadua o cualquier otro tipo de material rígido, en dirección opuesta a la inclinación de la planta, soportando la parte superior del pseudotallo, muy cerca de la salida del raquis.


                        li.mt-3
                            strong Con cuerda: 
                            | consiste en realizar el amarre de la planta con nylon, piola de yute, fibra plástica, aunque se recomienda el uso de fibras o piolas biodegradables.


            .col-12.col-lg-4
                img(src="assets/images/pages/tema-2/img-27.svg").img-fluid.mb-3.mb-md-0



        .header-arrow.my-5
            h3.text-center Proceso de amarre

        p El proceso de amarre de la planta se debe realizar preferiblemente cuando la inflorescencia apunte perpendicular al suelo. Este proceso se lleva a cabo de la siguiente manera:

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/k1.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Establecer la dirección de la inclinación de la caída de la planta, para orientar de forma correcta de las líneas o cuerdas.

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/k2.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Seleccionar la planta vecina que servirá de soporte.


        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/k3.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Realizar el amarre en la base de los peciolos entre la tercera y cuarta hoja, a través de un nudo holgado, firme y fácil de soltar.  

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/k4.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Sujetar el extremo de la cuerda a aproximadamente a 70 cm de altura del pseudotallo de la planta vecina, de tal modo que se forme entre las dos plantas un ángulo de 45 a 60º. 
   

        .row.justify-content-center.mt-4

            .col-10.col-md-8
                .card-media.bg-brand-color-secondary
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/k5.svg").img-fluid
                        p.card__copy 
                            span 
                                |  Esta labor se debe realizar semanalmente en el cultivo para aquellas plantas que aún no han sido amarradas o apuntaladas.          