include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Producción del plátano
 

    .jumbotron.bg-white

        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img(src="assets/images/pages/tema-1/a1.svg").img-fluid.mb-3.mb-md-0
            .col-12.col-md-8
                p Tiene una gran importancia socioeconómica, desde el punto de vista de la seguridad alimentaria y la generación de empleo e ingresos que contribuye a la mejora del nivel de vida de los agricultores. 


    .row.justify-content-center.align-items-center.my-5

        .col-12.col-md-8
            p Gracias a las condiciones agroclimáticas del país, la producción del plátano se extiende por todo el territorio colombiano y la tecnología de los sistemas productivos varía dependiendo la región y el mercado destino.
        .col-12.col-md-4
            img(src="assets/images/pages/tema-1/a2.svg").img-fluid.mb-3.mb-md-0

    .jumbotron.bg-white.my-5

        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img(src="assets/images/pages/tema-1/a3.svg").img-fluid.mb-3.mb-md-0
            .col-12.col-md-8
                p Más del 80 % de la producción nacional se destina a satisfacer el consumo interno y sólo un pequeño porcentaje es designado a la exportación, aunque es bastante representativo a nivel mundial. Se considera este último como el de mayor exigencia tecnológica de acuerdo a las nuevas tendencias de los mercados globalizados.


    .row.justify-content-center.align-items-center.my-5

        .col-12.col-md-8
            p Luego, la calidad del plátano es muy variable según la diversidad de tecnologías, los sistemas de producción aplicados, además de los procesos de cosecha y poscosecha que tienen gran influencia en la calidad final del producto para el consumidor. 
        .col-12.col-md-4
            img(src="assets/images/pages/tema-1/a4.svg").img-fluid.mb-3.mb-md-0



    .header-arrow.my-5
        h3.text-center Se estima que en el país hay pérdidas considerables en la producción que están alrededor del 10 al 12 %, las cuales están influenciadas por:

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i1.svg").img-fluid
                    p.card__copy 
                        span 
                            |  La falta de aplicación de las labores culturales propias del cultivo.

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i2.svg").img-fluid
                    p.card__copy 
                        span 
                            |  La cosecha inadecuada.


    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i3.svg").img-fluid
                    p.card__copy 
                        span 
                            |  La manipulación deficiente del producto desde el sitio de producción hasta el consumidor final.

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i4.svg").img-fluid
                    p.card__copy 
                        span 
                            |  La falta de adecuación del producto. (Ministerio de Agricultura y Desarrollo Rural, 2005)                         


    p.my-5 De tal manera, que se requiere de la aplicación tecnológica en las diferentes fases del proceso productivo, especialmente en las labores precosecha y poscosecha, que permitan mejorar las condiciones de desarrollo del cultivo. Además de evitar pérdidas económicas, es importante proporcionar un valor agregado al producto fresco y evitar los problemas de contaminación por la generación de residuos agrícolas mal aprovechados.
