.bg-color-naranja {
    background-color: orange;
}


// Estilos tema 2

.custom-item-img {
    flex: 0 0 120px;
    overflow: hidden;
    margin-right: 2rem;
}


.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='teal' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .carousel-indicators li {
    background-color: #79BEBE;
  }
  
  .carousel-indicators .active {
    background-color: teal;
  }
  
.title-theme {
    margin-top: -4%;
    color: white;
    margin-left: 3%;
    position: absolute;
  }